<template>
  <div id="app">
    <Header />
    <Navbar />
    <PageNavigation />
  </div>
</template>

<script>
import Header from "@/components/Header";
import Navbar from "@/components/Navbar";
import PageNavigation from "@/components/PageNavigation";

export default {
  name: "App",
  components: {
    Header,
    Navbar,
    PageNavigation
  },
  beforeMount() {
    this.$store.dispatch("getNavigationLinks");
    this.$store.dispatch("getAllProducts");
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,400,800&display=swap");
@import "./scss/_variables.scss";

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100vw;
  max-width: 1024px;

  a {
    color: $white;
  }
  //   display: grid;
  //   grid-template-areas:
  //     "header header"
  //     "navigation navigation"
  //     "breadcrumbs breadcrumbs"
  //     "pageNavigation pageNavigation"
  //     "adArea adArea";
}
</style>
