<template>
  <div class="shoes">
    <FilterBox :productType="'shoes'" />
    <div class="products-wrapper">
      <ProductHeader :title="'Calçados'" :product="'shoes'" />
      <div class="products-filter" v-if="!isFilterActive">
        <Product :products="shoes" />
      </div>
      <div class="products-filter active" v-else>
        <Product
          v-for="product in filteredProducts"
          :key="product.id"
          :products="[product]"
        />
      </div>
    </div>
  </div>
</template>

<script>
import FilterBox from "@/components/FilterBox";
import ProductHeader from "@/components/ProductHeader";
import Product from "@/components/Product";

export default {
  components: {
    ProductHeader,
    Product,
    FilterBox
  },
  computed: {
    shoes() {
      return this.$store.getters.getShoes;
    },
    isFilterActive() {
      return this.$store.state.isFilterActive;
    },
    filteredProducts() {
      return this.$store.state.filteredProducts;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./../scss/_variables.scss";
.shoes {
  display: flex;

  .products-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    .products-filter {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .shoes {
    flex-direction: column;
  }
}
</style>
