<template>
  <div class="contact">
    <h2>Contato</h2>
    <form>
      <div class="form-group">
        <label for="emailFormControl">Digite seu e-mail:</label>
        <input
          type="email"
          class="form-control"
          id="emailFormControl"
          placeholder="name@example.com"
          required
        />
      </div>
      <div class="form-group">
        <label for="FormControlTextarea">Envie-nos seu comentário:</label>
        <textarea
          class="form-control"
          id="FormControlTextarea"
          rows="3"
          required
        ></textarea>
      </div>
      <button>Enviar</button>
    </form>
  </div>
</template>

<script>
export default {};
</script>
<style lang="scss" scoped>
.contact {
  width: 100%;
  text-align: left;
  padding: 0 21px;
  grid-area: products;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    max-width: 350px;

    label {
      margin-bottom: 5px;
    }

    input {
      margin-bottom: 10px;
    }
  }

  button {
    color: #fff;
    background-color: #28a3aa;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 1em;
  }
}
</style>
