<template>
  <div class="breadcrumbs">
    <span class="main-route">Página Inicial >&nbsp;</span>
    <span class="sub-route">Produtos</span>
  </div>
</template>

<script>
export default {
  name: "Breadcrumbs",
  props: {
    subRoute: String
  }
};
</script>

<style lang="scss" scoped>
@import "./../scss/_variables.scss";

.breadcrumbs {
  padding: 1em;
  text-align: left;

  .sub-route {
    color: $red;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .breadcrumbs {
    padding-top: 0;
  }
}
</style>
