<template>
  <div class="filter-box">
    <h2>Filtre por</h2>
    <h3 class="filter-type">Categorias</h3>
    <ul class="filter-list">
      <li @click="findByCategory('clothing')">Roupas</li>
      <li @click="findByCategory('shoes')">Sapatos</li>
      <li @click="findByCategory('accessories')">Acessórios</li>
    </ul>
    <h3 class="filter-type">Cores</h3>
    <div class="colors">
      <div
        class="color red"
        @click="findByColor('Vermelho', productType)"
      ></div>
      <div
        class="color orange"
        @click="findByColor('Laranja', productType)"
      ></div>
      <div class="color blue" @click="findByColor('Azul', productType)"></div>
    </div>
    <h3 class="filter-type">Tipo</h3>
    <ul class="filter-list">
      <li @click="findByType('corrida')">Corrida</li>
      <li @click="findByType('caminhada')">Caminhada</li>
      <li @click="findByType('casual')">Casual</li>
      <li @click="findByType('social')">Social</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "FilterBox",
  props: {
    productType: String
  },
  methods: {
    findByColor(color, productType) {
      this.$store.commit("deactivateFilter");
      this.$store.commit("findByColor", {
        color,
        productType
      });
      this.$store.commit("activateFilter");
    },
    findByCategory(category) {
      this.$store.commit("deactivateFilter");
      this.$store.commit("findByCategory", {
        category
      });
      this.$store.commit("activateFilter");
    },
    findByType(type) {
      this.$store.commit("deactivateFilter");
      this.$store.commit("findByType", {
        type
      });
      this.$store.commit("activateFilter");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./../scss/_variables.scss";

.filter-box {
  text-align: left;
  margin: 0 1em;
  padding: 0 1em;
  border: 1px solid $light-grey;
  width: calc(210px - 2em);
  height: max-content;
  flex-shrink: 0;

  h2 {
    text-transform: uppercase;
    color: $red;
  }

  h3 {
    text-transform: uppercase;
    color: $blue;
  }

  ul {
    padding-left: 1em;

    li {
      margin: 12px 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .colors {
    display: flex;
    flex-direction: row;

    .color {
      height: 21px;
      width: 42px;
      margin-right: 2px;

      &:hover {
        cursor: pointer;
      }

      &.red {
        background-color: $red;
      }

      &.orange {
        background-color: $orange;
      }

      &.blue {
        background-color: $blue;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .filter-box {
    width: calc(100vw - 2em);
  }
}
</style>
