<template>
  <header>
    <div class="header-top">
      <div class="login">
        <a href="#">Acesse sua Conta</a>
        <span>&nbsp;ou&nbsp;</span>
        <a href="#">Cadastre-se</a>
      </div>
    </div>
    <div class="header-bottom mobile">
      <span @click="toggleNavMenu">
        <font-awesome-icon :icon="['fas', 'bars']" />
      </span>
      <a href="https://webjump.com.br/" target="blank">
        <img src="@/assets/logo.png" alt="Logo WebJump" />
      </a>
      <Search />
    </div>
    <div class="header-bottom ipad-and-up">
      <a href="https://webjump.com.br/" target="blank">
        <img src="@/assets/logo.png" alt="Logo WebJump" />
      </a>
      <Search />
    </div>
  </header>
</template>

<script>
import Search from "./Search";
export default {
  components: {
    Search
  },
  methods: {
    toggleNavMenu() {
      const navMenu = document.querySelector("#nav");
      navMenu.style.display === "flex"
        ? (navMenu.style.display = "none")
        : (navMenu.style.display = "flex");
    }
  }
};
</script>

<style lang="scss">
@import "./../scss/_variables.scss";

.header-top {
  font-weight: bold;
  color: $white;
  background-color: $black;
  text-align: right;
  padding: 0.3em 1em;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;

  &.mobile {
    display: none;
  }

  img {
    height: 50px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ipad-and-up {
    display: none;
  }

  .header-top {
    text-align: center;
  }

  .header-bottom {
    &.mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1em;
    }
  }
}
// header {
//   width: 100vw;
//   grid-area: header;
//   display: grid;
//   grid-template-areas:
//     "login login"
//     "search search";

//   .header-top {
//     grid-area: login;
//     display: flex;
//     justify-content: flex-end;
//     font-size: 14px;
//     background-color: #231f20;
//     color: #fff;
//     padding: 2px 2em;

//     a {
//       color: #fff;
//       font-weight: bold;
//     }

//     span {
//       margin: 0 5px;
//     }
//   }

//   .header-bottom {
//     grid-area: search;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     margin: 21px 2em;

//     a {
//       display: flex;
//       align-items: center;
//     }

//     &.mobile {
//       display: none;
//     }
//   }

//   img {
//     height: 50px;
//   }
// }

// @media only screen and (min-width: 320px) and (max-width: 767px) {
//   header {
//     .header-top {
//       justify-content: center;
//       height: 25px;
//     }
//     .header-bottom {
//       &.mobile {
//         display: flex;
//         justify-content: space-around;
//         font-size: 25px;
//       }

//       &.ipad-and-up {
//         display: none;
//       }
//     }
//   }
// }
</style>
