<template>
  <div id="nav">
    <span class="no-break" @click="deactivateFilter">
      <router-link to="/">Página inicial</router-link>
    </span>
    <span @click="deactivateFilter" v-for="link in navItems[0]" :key="link.id">
      <router-link :to="link.path">
        {{ link.name }}
      </router-link>
    </span>
    <span @click="deactivateFilter">
      <router-link @click="deactivateFilter" to="/contato">Contato</router-link>
    </span>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  computed: {
    navItems() {
      return this.$store.state.navigationLinks;
    }
  },
  methods: {
    deactivateFilter() {
      this.$store.commit("deactivateFilter");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./../scss/_variables.scss";
#nav {
  background-color: $red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  text-decoration: none;

  .no-break {
    white-space: nowrap;
  }

  span {
    padding: 1em 2em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #nav {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #nav {
    justify-content: space-between;
  }
}
// #nav {
//   background-color: #cc0d1f;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   grid-area: navigation;

//   span {
//     font-weight: bold;
//     text-transform: uppercase;
//     text-decoration: none;
//     padding: 21px 0;

//     a {
//       padding: 0 35px;
//       color: #fff;
//       height: 100%;

//       &.router-link-exact-active {
//         text-decoration: underline;
//       }
//     }

//     &:hover {
//       background-color: #be646d;
//     }
//   }
// }

// @media only screen and (min-width: 320px) and (max-width: 767px) {
//   #nav {
//     flex-direction: column;
//     justify-content: center;
//     width: 100vw;
//     display: none;

//     a {
//       width: 100%;
//     }
//   }
// }
</style>
