<template>
  <div class="page-navigation">
    <Breadcrumbs />
    <div class="page">
      <router-view />
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "@/components/Breadcrumbs";

export default {
  name: "PageNavigation",
  components: {
    Breadcrumbs
  }
};
</script>

<style lang="scss" scoped>
// .page-navigation {
//   grid-area: pageNavigation;
//   display: grid;
//   grid-template-areas:
//     "breadcrumbs breadcrumbs"
//     "page page";

//   .page {
//     grid-area: page;
//   }
// }
</style>
