<template>
  <div class="product-header">
    <h1>{{ title }}</h1>
    <div class="view-and-sort">
      <div class="view-type">
        <span class="grid-view active">
          <font-awesome-icon :icon="['fas', 'th']" />
        </span>
        <span class="list-view">
          <font-awesome-icon :icon="['fas', 'th-list']" />
        </span>
      </div>
      <div class="sort-by">
        <span class="text-muted">Ordenar Por&nbsp;</span>
        <select name="sortBy" @change="orderBy(`${product}`, $event)">
          <option value="price">Preço</option>
          <option value="color">Cor</option>
          <option value="gender">Gênero</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductHeader",
  props: {
    title: String,
    product: String
  },
  methods: {
    orderBy(product, attribute) {
      const attr = attribute.target.value;

      this.$store.commit("orderBy", {
        product,
        attr
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./../scss/_variables.scss";

.product-header {
  display: flex;
  flex-direction: column;
  margin-left: 1em;

  h1 {
    margin-top: 0;
    text-align: left;
    color: $red;
  }

  .view-and-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 1em;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding: 0.5em 0;
  }

  .view-type {
    color: $dark-grey;
    font-size: 30px;

    span {
      margin-right: 0.5em;
    }

    .active {
      color: $blue;
    }
  }

  .sort-by {
    .text-muted {
      color: $dark-grey;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      margin-right: 10px;
    }

    select {
      width: 150px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .product-header {
    .view-type {
      display: none;
    }

    .view-and-sort {
      border: none;
    }
  }
}
</style>
