<template>
  <div class="products-container">
    <div class="product" v-for="product in products" :key="product.id">
      <img :src="getImage(product.image)" :alt="product.name" />
      <p>{{ product.name }}</p>
      <div class="pricing" v-if="product.specialPrice">
        <span class="special-price">R${{ product.price }}</span>
        <span class="price">R${{ product.specialPrice }}</span>
      </div>
      <div class="pricing" v-else>
        <span class="price">R${{ product.price }}</span>
      </div>
      <button>Comprar</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Product",
  props: {
    products: Array
  },
  methods: {
    // https://stackoverflow.com/questions/40491506/vue-js-dynamic-images-not-working
    getImage(imgSrc) {
      return require(`./../../../api/public/${imgSrc}`);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./../scss/_variables.scss";
.products-container {
  margin-left: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .product {
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    height: 280px;

    img {
      width: 150px;
      height: 150px;
      border: 1px solid $light-grey;
    }

    .pricing {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      font-weight: bold;

      .price {
        color: $red;
      }

      .special-price {
        text-decoration: line-through;
        font-weight: normal;
        color: $dark-grey;
      }
    }

    button {
      border: none;
      border-radius: 5px;
      color: $white;
      background-color: $blue;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      padding: 0.3em 1.5em;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
  .products-container {
    .product {
      .pricing {
        flex-direction: column;
      }
    }
  }
}
// @media only screen and (min-width: 320px) and (max-width: 767px) {
//   .products-container {
//     display: flex;
//     margin-top: 1em;

//     .product {
//       margin: auto;
//       margin-left: 1em;
//       width: 150px;

//       img {
//         height: 150px;
//         width: 150px;
//       }

//       p {
//         font-size: 16px;
//         padding: 0;
//         margin-top: 0;
//       }

//       .pricing {
//         display: flex;
//         flex-direction: column;

//         .price {
//           font-size: 20px;
//         }
//       }
//     }

//     button {
//       display: none;
//     }
//   }
// }
</style>
