<template>
  <div class="search-bar">
    <div class="mobile">
      <span>
        <font-awesome-icon :icon="['fas', 'search']" />
      </span>
    </div>
    <div class="ipad-and-up">
      <input
        v-model="item"
        type="text"
        name="searchItem"
        id="searchItem"
        v-on:keyup.enter="findByType(item)"
      />
      <button @click="findByType(item)">Buscar</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Search",
  data() {
    return {
      item: ""
    };
  },
  methods: {
    findByType(type) {
      this.$store.commit("deactivateFilter");
      this.$store.commit("findByType", {
        type
      });
      this.$store.commit("activateFilter");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./../scss/_variables.scss";

.mobile {
  display: none;

  span {
    color: $red;
  }
}

.ipad-and-up {
  input {
    border-radius: 0;
    padding: 0.5em 3em;
    border-color: $grey;
  }
  button {
    background-color: $red;
    color: $white;
    font-weight: bold;
    padding: 0.6em 1em;
    text-transform: uppercase;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ipad-and-up {
    display: none;
  }

  .mobile {
    display: block;
  }
}
// .search-bar {
//   .mobile {
//     display: none;
//   }

//   input {
//     border-radius: 0;
//     padding: 8px;
//   }

//   button {
//     border: none;
//     color: #fff;
//     font-weight: 800;
//     background-color: #cc0d1f;
//     text-transform: uppercase;
//     padding: 10px 25px;
//   }
// }

// @media only screen and (min-width: 320px) and (max-width: 767px) {
//   .search-bar {
//     .mobile {
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       span {
//         color: #cc0d1f;
//       }
//     }

//     .ipad-and-up {
//       display: none;
//     }
//   }
// }
</style>
